body * {
    font-family: 'DMSans-Regular';
}

.gr-custom-l,
.gr-custom {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.gr-custom-l:after,
.gr-custom:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    content: "";
    border-radius: 0 0 100%;
    z-index: 1;
    background: rgb(7, 58, 250);
    background: linear-gradient(135deg, rgba(7, 58, 250, 1) 0%, rgba(99, 0, 255, 1) 45%, rgba(6, 8, 29, 1) 100%);
    filter: blur(30px);
    z-index: -1;
}

.gr-custom-l:after {
    filter: blur(140px);
}